.sidebar-button {
    margin: 10px;
    width: 90%;
    text-align: center;
}
.sidebar {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

    .sidebar blockquote {
        border-color: #ddd;
        border-color: rgba(0,0,0,.15);
    }

.sidebar-lg {
    padding: 24px;
    border-radius: 6px;
}

.sidebar-sm {
    padding: 9px;
    border-radius: 3px;
}
.sidebar h3 {
    text-align: center;
}
input {
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    background-color: #e3e3e3;
    height: 32px;
    width: 200px;
    margin: 10px;
}
textarea {
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    background-color: #e3e3e3;
    width: 250px;
    height: 70px;
}
.styled-li {
    margin: 10px;
    list-style-type: none;
    background-color: #c2c2c2;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
}

.edit-category, .remove-category {
    float: right;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-left: 10px;
	margin-top: 10px;
}